<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/event/{id}(id=${event.getId()})}" th:object="${event}">
    <label for="name">Введите название мероприятия: </label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
    <br><br>
    <label for="event_id">Введите id мероприятия: </label>
    <input type="text" th:field="*{eventId}" id="event_id">
    <div style="color:red" th:if="${#fields.hasErrors('eventId')}" th:errors="*{eventId}">Error</div>
    <br><br>
    <input style="color: black" type="submit" value="Отредактировать">
</form>
</body>
</html>