<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>
<h1>Пользователи: </h1>
<th:block th:each="user: ${users}">
    <h2>
        <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getId()}
     + ')  ' + ${user.getUsername()} + ' ' + ${user.getEmail()}"/>
        <br>
    </h2>
</th:block>
<br>
<a th:href="@{/users/new}">
    <input style="color: black" type="button" value="Добавить нового пользователя"/>
</a>
</body>
</html>