<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление события</title>
</head>
<body>
<h1>Создание мероприятия</h1>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="username">Введите имя пользователя:</label>
    <input type="text" th:field="*{username}" id="username">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
    <br>
    <label for="email">Введите почту:</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
    <br>
    <label for="password">Введите почту:</label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
    <br><br>
    <input style="color: black" type="submit" value="Создать нового пользователя"/>
</form>
</body>
</html>

