<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Найденные события</title>

</head>
<body>
<h1>События по вашему запросу:</h1>
<form action="#" method="get">
  <label for="query">Query:</label>
  <input type="text" id="query" name="query" value="" />
  <br/>
  <label for="cityId">City ID:</label>
  <input type="text" id="cityId" name="cityId" value="1" />
  <br/>
  <label for="countryId">Country ID:</label>
  <input type="text" id="countryId" name="countryId" value="1" />
  <br/>
  <button type="submit">Search</button>
</form>
<table class="table table-striped table-hover">
  <tr>
    <td>ID мероприятия</td>
    <td>Название</td>
    <td>Ссылка</td>
  </tr>
  <tr th:each="event : ${events}">
    <td th:utext="${event.getId()}"></td>
    <td th:utext="${event.getName()}"></td>
    <td>
      <a th:href="'https://vk.com/event' + ${event.getId()}">ссылка</a>
    </td>
  </tr>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>